.card__delete-button {
  display: none;
  width: 19px;
  height: 19px;
  border: none;
  background: none;
  background-image: url(../../../images/delete-icon.svg);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  transition: opacity .3s linear;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: .6;
  cursor: pointer;
}
